---

---
<nav>
    <div class="logo">Astro</div>
    <div class="nav-links">
       <a href="/">Home</a>
       <a href="/about/">About</a>
       <a href="/blog/">Blog</a>
    </div>
</nav>

<style>
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   
</style>