---
import Footer from "../components/Footer.astro";
import BaseHead from "./BaseHead.astro";
const {title = "Default Title", description = "Default Description"} = Astro.props

---

<html lang="en">
	<BaseHead title={title} description={description}></BaseHead>
	<body>
		<slot>Welcome to this page!</slot>
		<Footer/>
	</body>
</html>