---
import BaseLayout from "../../layouts/BaseLayout.astro"

const pageTitle = "My Astro Learning Blog"
---

<BaseLayout title={pageTitle}>
	<h3>{pageTitle}</h3>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      <li><a href="/blog/blog-1/">Post 1</a></li>
      <li><a href="/blog/blog-2/">Post 2</a></li>
      <li><a href="/blog/blog-3/">Post 3</a></li>
    </ul>
</BaseLayout>